server {
    listen 443 ssl;
    listen [::]:443 ssl;

    server_name  {{ domain_name }} {% if domain_list is defined %}{{ domain_list | join(" ") }} {% endif %};

    ssl on;
    ssl_certificate /etc/letsencrypt/live/{{ domain_name }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ domain_name }}/privkey.pem;
    ssl_session_timeout 10m;
    keepalive_timeout 70;


    # Max request size allowed (needed because of profile picture uploads -> could
    #  constrain it to specific locations, including admin)
    client_max_body_size 150M;

    disable_symlinks off;

    location /backend/static {
        alias /usr/local/lib/heartface/current/assets ;
    }

    location /media {
        alias /var/www/heartface/media ;
    }

    location / {
        #location /admin {
        #    client_max_body_size 15M;
        #    proxy_pass @proxy_to_app/admin # ????
        #}
        root /var/www/heartface ;
        index index.html ;
        # checks for static file, if not found proxy to app
        try_files $uri $uri/ @proxy_to_app;
    }


    location @proxy_to_app {
        proxy_set_header Host $http_host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_redirect off;


        proxy_pass   http://app_server_heartface;
    }

   location /.well-known {
       root /var/www/heartface ;
   }

    error_page 404 /404.html;

    # redirect server error pages to the static page /50x.html
    #
    error_page 500 502 503 504 /50x.html;
    location = /50x.html {
            root /usr/share/nginx/html;
    }
}
